@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-text: #344e41;
$secondary-text: #588157;
$primary-background: #dad7cd;
$secondary-background: #a3b18a;

:root {
  font-family: 'Poppins', sans-serif;
  color: $primary-text;
  background-color: $primary-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}